.questionContainer {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-position: right;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding:80px 150px;
}
.questionHeaderAndTimer{
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-bottom: 10px;
}
.questionHeader{
  color: #021B35;
  font-weight: 700;
}
.timeSection{
  background-color: #021B35;
  color: #e2e2e2;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
 width: 5vw;
 display: flex;
 justify-content: center;
 align-items: center;
}
.questionSectionContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.questionLeftSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 55vh;
  width: 50vw;
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius:20px;
  justify-content: space-around;
}

.questionText{
    font-size: 16px;
    font-weight: 700;
}

.answerOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.questionOption{
    border: none;
    text-align: start;
    padding: 10px;
    padding-left: 24px;
    font-size: 14px;
    border-radius: 20px;
    transition: 300ms all;
}
.questionOption:hover{
    border: 1px solid #021B35;
}

.questionRightSection {
  height: 55vh;
  width: 20vw;
  border-radius: 20px;
  border: 2px solid rgb(177, 177, 177);
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  gap: 4px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: hsla(212, 35%, 58%, 1);

  background: linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6D90B9", endColorstr="#BBC7DC", GradientType=1);
}
.square {
  border: 1px solid #e2e2e2;
  width: 4vw;
  height: 4vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextQuestionButton{
    background-color: #021B35;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #021B35;
    width: 20vw;
    padding: 20px;
    margin-top: 20px;
   position: relative;
   left:30vw;
}

.questionOptionClick{
  border: 1px solid black;
}